datos/ENOE_SDEMT425.csv
datos/tvar_crea.csv
datos/tmodulo.csv
venv/
.venv/

/dashboard/_site/
/dashboard/.quarto/

*.quarto_ipynb
*.quarto_ipynb_*
/dashboard/iframe_figures/

# Python
__pycache__/
*.pyc
.ipynb_checkpoints/
*.egg-info/

.uv/
